@charset "UTF-8";

* {
    padding: 0; margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: #d3d3d3;
    min-height: 100vh;
    display: flex;
    gap: 0 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.item {
    display: flex;
    width: 200px;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 3px solid #000000;
}

.item1 {
    order: 2;
    align-self: flex-end;
}

.item2 {
    order: 3;
}

.item3 {
    order: 1;
}

@media (max-width: 390px) {
    .item2 {
        flex: 1 0 620px;
    }
}
