@charset 'UTF-8';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    font-size: 15px;
    padding: 5px;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid white;
    cursor: pointer;
    transition: .4s;
}
button:hover {
    border-color: #ff0044;
}